.main-content-wrapper {
    max-width: 250px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #d8e2dcd1;
  }
  
  @media (min-width: 480px) {
    .main-content-wrapper {
      max-width: 400px;
    }
  }
  
  @media (min-width: 768px) {
    .main-content-wrapper {
      max-width: 500px;
    }
  }