.log-in-form-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .log-in-form {
    background-color: #d8e2dcd1;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    text-align: center;
  }
  
  .log-in-label {
    display: block;
    color: black;
    font-size: 16px;
    font-weight: bold;
  }
  
  .label-span {
    display: block;
    margin-bottom: 10px;
  }
  
  .log-in-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    border: 3px solid #ff85a8;
    border-radius: 5px;
  
    background-color: #ffcad4;
    color: #000000;
  
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .log-in-input:hover,
  .log-in-input:focus {
    border: 3px solid #a4133c;
    box-shadow: 0px 0px 14px rgba(164, 19, 60, 1);
  }
  
  .log-in-btn {
    display: block;
    width: 150px;
    margin: 5px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #a4133c;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .log-in-btn:hover,
  .log-in-btn:focus {
    background-color: #e30141;
  }